<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<appSettings>
  <!-- Folder with XML files to be sent -->
  <add key="RESTFolder" value="c:\Temp\Rest\"/>
  <!-- Endpoints -->
  <add key="Token" value="/api/connect/token"/>
  <add key="AccrualTemplate" value="/api/integration/masterdata/v1/AccrualTemplateImportBatches"/>
  <add key="Company" value="/api/integration/masterdata/v1/CompanyImportBatches"/>
  <add key="Currency" value="/api/integration/masterdata/v1/CurrencyImportBatches"/>
  <add key="CurrencyRate" value="/api/integration/masterdata/v1/CurrencyRateImportBatches"/>
  <add key="DeliveryTerm" value="/api/integration/masterdata/v1/DeliveryTermImportBatches"/>
  <add key="DimensionValueConfiguration" value="/api/integration/masterdata/v1/DimensionValueConfigurationImportBatches"/>
  <add key="DimensionValue" value="/api/integration/masterdata/v1/DimensionValueImportBatches"/>
  <add key="ForbiddenListRestriction" value="/api/integration/masterdata/v1/ForbiddenListRestrictionImportBatches"/>
  <add key="Item" value="/api/integration/masterdata/v1/ItemImportBatches"/>
  <add key="OptionalListRestriction" value="/api/integration/masterdata/v1/OptionalListRestrictionImportBatches"/>
  <add key="PaymentTerm" value="/api/integration/masterdata/v1/PaymentTermImportBatches"/>
  <add key="Period" value="/api/integration/masterdata/v1/PeriodImportBatches"/>
  <add key="PurchaseOrder" value="/api/integration/masterdata/v1/PurchaseOrderImportBatches"/>
  <add key="RangeRestriction" value="/api/integration/masterdata/v1/RangeRestrictionImportBatches"/>
  <add key="RequiredListRestriction" value="/api/integration/masterdata/v1/RequiredListRestrictionImportBatches"/>
  <add key="BasicRestriction" value="/api/integration/masterdata/v1/BasicRestrictionImportBatches"/>
  <add key="RestrictionRuleGroup" value="/api/integration/masterdata/v1/RestrictionRuleImportBatches"/>
  <add key="SupplierConfiguration" value="/api/integration/masterdata/v1/SupplierConfigurationImportBatches"/>
  <add key="Supplier" value="/api/integration/masterdata/v1/SupplierImportBatches"/>
  <add key="TaxGroup" value="/api/integration/masterdata/v1/TaxGroupImportBatches"/>
  <add key="Unit" value="/api/integration/masterdata/v1/UnitImportBatches"/>
  <add key="UserConfiguration" value="/api/integration/masterdata/v1/UserConfigurationImportBatches"/>
  <add key="User" value="/api/integration/masterdata/v1/UserImportBatches"/>

   <!-- Stored credentals -->
  <add key="wallenstamQA" value="9ab76ef93818b371bf5ba4221b85c328;Kzbj9R3taw74d6zhGwQJKvRnfIvrvBN8uCeogqDSsJU"/>
  <add key="arcticpaperqa" value="ea5e0ccc1226038f7a18d5f60dbf27dc;Z0KWMTbo5YABf4GtIW7Ro74j8_wCcEpnhu5TbeE7wTw"/>
  
</appSettings>
</configuration>